<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
 <hibernate-configuration>
 	<session-factory>
 		<!-- 数据库驱动 -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 数据库连接的URL -->
		<property name="connection.url">jdbc:mysql://localhost:3306/mysafecar</property>
		<!-- 数据库连接用户名 -->
		<property name="connection.username">root</property>
		<!-- 数据库连接密码 -->
		<property name="connection.password">998973</property>
		<!-- Hibernate方言 -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 打印SQL语句 -->
		<property name="show_sql">true</property>
		<!-- 映射文件  -->
		<mapping resource="com/mr/timecar/Timecar.hbm.xml"/>
		<mapping resource="com/mr/nowcar/Nowcar.hbm.xml"/>
		<mapping resource="com/mr/person/Person.hbm.xml"/>
		<mapping resource="com/mr/weather/Weather.hbm.xml"/>
		<mapping resource="com/mr/mycrowded/Mycrowded.hbm.xml"/>
		<mapping resource="com/mr/examination/Examination.hbm.xml"/>
		<mapping resource="com/mr/integration/Integration.hbm.xml"/>
		<mapping resource="com/mr/blog/Blog.hbm.xml"/>
		<mapping resource="com/mr/forecast/Forecast.hbm.xml"/>
		<mapping resource="com/mr/cardata/Cardata.hbm.xml"/>
		<mapping resource="com/mr/attractions/Attractions.hbm.xml"/>
		<mapping resource="com/mr/crowds/Crowds.hbm.xml"/>
		<mapping resource="com/mr/viewpreference/ViewPreference.hbm.xml"/>
		<mapping resource="com/mr/weatherindex/WeatherIndex.hbm.xml"/>
 	</session-factory>
 </hibernate-configuration>