<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CarSafe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TimecarServlet</display-name>
    <servlet-name>TimecarServlet</servlet-name>
    <servlet-class>com.mr.servlet.TimecarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimecarServlet</servlet-name>
    <url-pattern>/TimecarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NowcarServlet</display-name>
    <servlet-name>NowcarServlet</servlet-name>
    <servlet-class>com.mr.servlet.NowcarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NowcarServlet</servlet-name>
    <url-pattern>/NowcarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mr.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginsServlet</display-name>
    <servlet-name>LoginsServlet</servlet-name>
    <servlet-class>com.mr.servlet.LoginsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginsServlet</servlet-name>
    <url-pattern>/LoginsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPersonServlet</display-name>
    <servlet-name>InsertPersonServlet</servlet-name>
    <servlet-class>com.mr.servlet.InsertPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPersonServlet</servlet-name>
    <url-pattern>/InsertPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PositionServlet</display-name>
    <servlet-name>PositionServlet</servlet-name>
    <servlet-class>com.mr.servlet.PositionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositionServlet</servlet-name>
    <url-pattern>/PositionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeatherServlet</display-name>
    <servlet-name>WeatherServlet</servlet-name>
    <servlet-class>com.mr.servlet.WeatherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeatherServlet</servlet-name>
    <url-pattern>/WeatherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrowdedServlet</display-name>
    <servlet-name>CrowdedServlet</servlet-name>
    <servlet-class>com.mr.servlet.CrowdedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrowdedServlet</servlet-name>
    <url-pattern>/CrowdedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamServlet</display-name>
    <servlet-name>ExamServlet</servlet-name>
    <servlet-class>com.mr.servlet.ExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamServlet</servlet-name>
    <url-pattern>/ExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntegrationServlet</display-name>
    <servlet-name>IntegrationServlet</servlet-name>
    <servlet-class>com.mr.servlet.IntegrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntegrationServlet</servlet-name>
    <url-pattern>/IntegrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCoinServlet</display-name>
    <servlet-name>UpdateCoinServlet</servlet-name>
    <servlet-class>com.mr.servlet.UpdateCoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCoinServlet</servlet-name>
    <url-pattern>/UpdateCoinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertBlogServlet</display-name>
    <servlet-name>InsertBlogServlet</servlet-name>
    <servlet-class>com.mr.servlet.InsertBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBlogServlet</servlet-name>
    <url-pattern>/InsertBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBlogServlet</display-name>
    <servlet-name>SelectBlogServlet</servlet-name>
    <servlet-class>com.mr.servlet.SelectBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBlogServlet</servlet-name>
    <url-pattern>/SelectBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertQianServlet</display-name>
    <servlet-name>InsertQianServlet</servlet-name>
    <servlet-class>com.mr.servlet.InsertQianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQianServlet</servlet-name>
    <url-pattern>/InsertQianServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForecastServlet</display-name>
    <servlet-name>ForecastServlet</servlet-name>
    <servlet-class>com.mr.servlet.ForecastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForecastServlet</servlet-name>
    <url-pattern>/ForecastServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardataServlet</display-name>
    <servlet-name>CardataServlet</servlet-name>
    <servlet-class>com.mr.servlet.CardataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardataServlet</servlet-name>
    <url-pattern>/CardataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ByRouteServlet</display-name>
    <servlet-name>ByRouteServlet</servlet-name>
    <servlet-class>com.mr.servlet.ByRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ByRouteServlet</servlet-name>
    <url-pattern>/ByRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ByRouteSevlet</display-name>
    <servlet-name>ByRouteSevlet</servlet-name>
    <servlet-class>com.mr.servlet.ByRouteSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ByRouteSevlet</servlet-name>
    <url-pattern>/ByRouteSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleRouteServlet</display-name>
    <servlet-name>SingleRouteServlet</servlet-name>
    <servlet-class>com.mr.servlet.SingleRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleRouteServlet</servlet-name>
    <url-pattern>/SingleRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteDetailServlet</display-name>
    <servlet-name>RouteDetailServlet</servlet-name>
    <servlet-class>com.mr.servlet.RouteDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteDetailServlet</servlet-name>
    <url-pattern>/RouteDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodServlet</display-name>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>com.mr.servlet.FoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/FoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelServlet</display-name>
    <servlet-name>HotelServlet</servlet-name>
    <servlet-class>com.mr.servlet.HotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelServlet</servlet-name>
    <url-pattern>/HotelServlet</url-pattern>
  </servlet-mapping>
</web-app>